// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body
{

}

.connection_container
{
  background-color: red;
  width:100vw;
  height:3vw;
  margin-left: -0.4vw;
  margin-top: -0.4vw;
}

.connection
{
  padding-top:0.8vw;
  margin-left: 88vw;
}
